$primary: rgb(36, 36, 36);
// $primary: #e6b929;
// $primary-light: #eed06d;
// $primary-dark: #be991e;
// $primary: #a8b820;
$primary-light: #d8d8fd;
$primary-dark: #c2ce55;

// $secondary: #f18f01;
$secondary: #141414;
$secondary-light: #fead34;
$secondary-dark: #111111;
//
$text-light: #fff;
$text-dark: #252525;
//
$neutral: #6d676e;
$neutral-variant: #ced0ce;

$error: #96031a;
