// $primary: #001021;
$primary: #baca24;
$primary-light: #0066cc;
$primary-dark: #000a14;

// $secondary: #f18f01;
$secondary: #141414;
$secondary-light: #fead34;
$secondary-dark: #a26202;

$neutral: #6d676e;
$neutral-variant: #ced0ce;

$error: #96031a;
