.task-card {
  &__container {
    display: flex;
    justify-content: stretch;
    // width: 70rem;
    width: 100%;
    border: none;
    overflow: hidden;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 2px 2px 2px $secondary;

    * {
      // color: rgb(10, 10, 10);
      color: #edecee;
    }
  }

  &__checkbox {
    &__container {
      padding: 1rem;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // margin-top: 0.2rem;
      width: 5rem;
      background-color: var(--difficultyColor, $primary);
      position: relative;
    }

    &--unfinished {
      width: 2rem;
      height: 2rem;
      background-color: #edecee;
      position: absolute;
      top: 1.2rem;
      left: 1.5rem;
      border-radius: 0.4rem;
    }

    &--finished {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 1.2rem;
      left: 1.5rem;
      border-radius: 0.4rem;
      &::before {
        content: "";
        display: inline-block;
        width: 86%;
        height: 86%;
        outline-style: inset;
        outline: 1px solid #edecee;
        background-color: var(--difficultyColor, $primary);
        transform: translate(0.13rem, 0.13rem);
        border-radius: 0.3rem;
      }
    }

    &-input {
      visibility: hidden;
      width: 2rem;
      height: 2rem;
      position: absolute;
    }
  }

  &__main {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 1rem;
      flex: 1;
      background-color: #272727;
      // background-color: rgb(253, 253, 253);
    }
  }

  &__top {
    &__container {
      display: flex;
      justify-content: space-between;
      flex: 1;
    }
    &__btns {
      display: flex;
      justify-content: center;
      align-items: center;

      & > :first-child {
        margin-right: 1rem;
      }
    }
  }

  &__timer {
    &__container {
      border: 0.2rem solid #fff;
      border-radius: 1rem;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      margin: 1rem 0;
    }

    &__pause-icon {
      width: 1.4rem;
    }
  }

  &__notes {
    &__container {
      ul {
        list-style: inside;
        padding-left: 1rem;
        color: white;
      }
    }
  }

  &__checkpoints {
    &__container {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      // margin-bottom: 2rem;
    }
  }

  &__checkpoint {
    &__container {
      margin: 0.3rem;
      position: relative;
    }

    &-input {
      width: 1.6rem;
      height: 1.6rem;
      visibility: hidden;
    }

    &--unfinished {
      width: 1.6rem;
      height: 1.6rem;
      // background-color: $secondary;

      border: 2px solid var(--difficultyColor, $primary);
      position: absolute;
      top: 0.3rem;
      border-radius: 0.4rem;
    }

    &--finished {
      width: 1.6rem;
      height: 1.6rem;
      // background-color: $secondary;
      border: 2px solid var(--difficultyColor, $primary);
      position: absolute;
      margin: 0 auto;
      top: 0.3rem;
      border-radius: 0.4rem;

      &::before {
        content: "";
        display: inline-block;
        width: 80%;
        height: 80%;
        background-color: var(--difficultyColor, $primary);
        // background-color: red;
        transform: translate(0.1rem, -0.6rem);
        border-radius: 0.2rem;
      }
    }
  }

  &__additional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__energy {
    &__container {
      display: flex;
      align-items: center;
    }
  }

  &__difficulty {
    &__icon {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}

.hidden {
  display: none;
}

.reverse-icon {
  transform: rotateZ(180deg);
}

.task-card__line-break {
  height: 0.2rem;
  background-color: var(--difficultyColor, $primary);
  border: none;
  border-radius: 1rem;
  margin: 0.3rem 0;
}
