//////////////////
//////////////////
//////////////////
@mixin slider {
  -webkit-appearance: none;
  appearance: none;
  height: 2.4rem;
  width: 2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: orange;
}

.task-settings {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 100;
  overflow-y: auto;

  // margin-bottom: 10rem;

  animation-name: moveIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;

  h3 {
    color: rgb(243, 243, 243);
  }
  span {
    color: white;
  }
  option {
    color: white;
  }
  // pointer-events: none;

  &__container {
    position: absolute;
    top: 10rem;
    border-radius: 1rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    margin-left: 28rem;
    margin-bottom: 10rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 2rem;

    background-color: orange;

    &__name-wrapper {
      flex: 1;
    }

    &__btns-container {
      display: flex;
      align-content: center;
    }

    &__btn-cancel {
      &-wrapper {
        display: flex;
        align-items: center;
      }
      margin-right: 1rem;
      border: none;
      font-size: 1.6rem;
      background: none;
      color: rgb(85, 16, 16);

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__btn-done {
      padding: 1.5rem 1.5rem;
      border: none;
      background-color: rgb(245, 245, 245);
      font-size: 1.8rem;
      color: rgb(17, 17, 17);
      box-shadow: 2px 2px 3px rgba(68, 68, 68, 0.493);
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
        background-color: white;
      }
    }
  }

  &__el-container {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width: 48rem;
    min-width: 36rem;
    padding: 1rem;
    background-color: rgb(49, 49, 49);
    overflow: hidden;
    z-index: 11;
    font-weight: bold;
    span {
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      margin-top: 0.5rem;
    }
  }

  label {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: white;
  }

  input {
    background-color: rgb(94, 94, 94);
    border: none;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem;
    color: white;
    width: 100%;
    // cursor: grab;

    &:focus {
      outline: 2px solid orange;
    }
  }

  textarea {
    background-color: rgb(94, 94, 94);
    resize: vertical;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem;
    font-size: 1.4rem;
    color: white;
    &:focus {
      outline: 2px solid orange;
    }
  }

  select {
    background-color: rgb(94, 94, 94);
    border: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.8rem;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    color: white;

    &:focus {
      outline: 2px solid orange;
    }
  }

  //////////////////////////

  &__repeat {
    &-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    //week day selects
    &-weekly-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      gap: 0.7rem;
    }

    &-weekly-el {
      flex: 1;
      opacity: 40%;
    }

    .task-settings__day-selected {
      opacity: 100%;
    }
  }

  &__energy {
    // border: 3px solid green;
    &-top-container {
      display: flex;
      gap: 1rem;
      img {
        margin-top: 0.5rem;
        width: 2rem;
      }

      span {
        margin-top: 0.7rem;
        color: #fff;
      }
    }
    input {
      -webkit-appearance: none;
      appearance: none;
      // background: transparent !important;
      background-color: #5e5e5e;
      color: blue;
      height: 2.4rem;
      &:focus {
        outline: none !important;
      }

      &::-webkit-slider-thumb {
        @include slider;
      }
      &::-moz-range-thumb {
        @include slider;
      }
    }
  }

  &__start-date {
    position: relative;
    overflow: hidden;
  }

  &__start-date::-webkit-calendar-picker-indicator {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    transform: scale(12);
    width: 100%;
  }

  &__checkpoints {
    display: flex;
    justify-content: stretch;
    margin-bottom: 0.3rem;
    // position: relative;
    font-weight: bold;

    .task-settings__checkpoint {
      position: relative;
      input:not(:last-child) {
        margin-bottom: 1rem;
      }

      &-icons-container {
        display: flex;
        position: absolute;
        top: 0;
        right: 1rem;
      }

      &-icon-delete {
        margin-top: 0.1rem;
        width: 2.4rem;
        margin-right: 1.3rem;

        &:hover {
          cursor: pointer;
        }

        &-wrapper {
          &::before {
            content: "";
            width: 0.2rem;
            height: 2rem;
            right: 2.1rem;
            top: 0.4rem;
            position: absolute;
            background-color: rgb(190, 188, 188);
          }
        }
      }

      &-icon-drag {
        margin-top: 0.4rem;
        width: 1.2rem;

        &:hover {
          cursor: grab;
        }
      }
    }
  }

  &__start &__name {
    // Not valid form
    position: relative;
    &-error {
      color: red;
      position: absolute;
      top: 1rem;
      right: 0;
      font-size: 1.4rem;
    }
  }

  &__repeat {
    &-container {
      position: relative;
    }
    &-error {
      color: red;
      position: absolute;
      top: 1rem;
      right: 0;
      font-size: 1.4rem;
    }
  }

  &__delete-btn {
    background: none;
    color: rgb(189, 1, 1);
    font-weight: bold;
    font-size: 1.8rem;
    border: none;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}

/// FOR DRAGGING CHECKPOINTS CONTAINER ///
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  // background-color: pink;
  // height: 3rem;
  border-radius: 0.2rem;
  transform: translateX(-2rem);
  cursor: grab !important;
  overflow: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=10);
}

.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=0);
}

.task-settings__checkpoint {
  position: relative;
  border-radius: 0.5rem;
  input {
    background-color: rgb(94, 94, 94);
    border: none;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem;
    color: white;
    width: 100%;
  }

  &-icons-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 1rem;
  }

  &-icon-delete {
    margin-top: 0.1rem;
    width: 2.4rem;
    margin-right: 1.3rem;

    &-wrapper {
      &::before {
        content: "";
        width: 0.2rem;
        height: 2rem;
        right: 2.1rem;
        top: 0.4rem;
        position: absolute;
        background-color: rgb(190, 188, 188);
      }
    }
  }

  &-icon-drag {
    margin-top: 0.4rem;
    width: 1.2rem;
  }
}

.helper-mouse-down {
  cursor: grab !important;
}

@keyframes moveIn {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
