.task__settings {
  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.25);
  }
  &__container {
    width: 30rem;
    background-color: $primary;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 2rem;
    opacity: 100%;
    position: relative;
  }
}

.task__settings__el {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  input,
  select {
    background-color: $secondary;
    border: none;
    border-radius: 0.5rem;
    color: $primary;
    padding: 0.4rem;

    &:focus {
      outline: none;
    }
  }

  #taskSettingsRepeatDaily {
    input {
      margin-top: 1rem;
      width: 100%;
    }
  }

  #taskSettingsRepeatWeek {
    display: flex;
    justify-content: stretch;
    gap: 0.13rem;
    margin-top: 1rem;
    .repeat__week__el {
      padding: 0.5rem 0.8rem;
      opacity: 0.4;

      &:hover {
        cursor: pointer;
      }
    }
    .day__selected {
      opacity: 1;
    }
  }

  // CHECKPOINTS
  .checkpoints__container {
    display: flex;
    flex-direction: column;
  }

  .checkpoint__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary;
    border-radius: 0.5rem;
    margin-bottom: 0.9rem;
  }

  .checkpoint__input {
    width: 90%;
  }

  .cps__icons__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cp__icon--delete {
    width: 2rem;
    display: flex;
    align-items: center;
    &__wrapper {
      position: relative;
      margin-right: 0.2rem;
      cursor: pointer;
    }
  }

  .cp__icon--drag {
    width: 1rem;
    display: flex;
    align-items: center;

    &__wrapper {
      position: relative;
      margin: 0 0.8rem;

      cursor: grab;

      &::before {
        content: "";
        position: absolute;
        top: 0.1rem;
        left: -0.8rem;
        height: 90%;
        min-width: 0.1rem;
        background-color: #fff;
      }
    }
  }
}

.task__settings__buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  #taskSettingsDoneBtn {
    background: $secondary;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    flex: 7;
    &:hover {
      cursor: pointer;
    }
  }
  #taskSettingsCloseBtn {
    background: $error;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    border: none;

    &:hover {
      cursor: pointer;
    }
    flex: 1;
  }
}

#taskSettingsNameCheckFail {
  font-size: 1.4rem;
  color: $error;
}

#taskSettingsRepeatDailyFail {
  font-size: 1.4rem;
  color: $error;
}

#taskSettingsEnergyIcon {
  transform: translateY(0.4rem);
  width: 1.8rem;
}

#taskSettingsIconDifficulty {
  width: 1.8rem;
}

.hidden {
  display: hidden;
}

.gu-transit {
  opacity: 0.6;
}
