#dashboardMenu {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 3rem;
  min-width: 100%;
  padding: 3rem;
}

#dashboardTasks {
  flex: 1;
}

#dashboardHabits {
  flex: 1;
}

#dashboardYip {
  flex: 1;
}

.low-opacity {
  background: rgba(240, 248, 255, 0.1);
}
