.header {
  // background-color: $primary;
  // background-color: rgb(174, 197, 190);
  background-color: rgb(153, 207, 191);
  display: flex;
}

#logo {
  align-self: center;
  white-space: nowrap;
  font-family: "Lobster", cursive;
  margin-left: 1rem;
  color: white;
  cursor: default;
}

// a::after {
//   content: "";
//   position: absolute;
//   bottom: 0.3rem;
//   left: 0;
//   width: 100%;
//   height: 0.2rem;
//   opacity: 0;
//   background-color: $secondary;
//   transform: translateX(-100%);
//   transition: opacity 300ms, transform 300ms;
// }

// a:hover::after {
//   opacity: 1;
//   transform: translateX(0);
// }
// }
