// @import "./HabitCardMixin.scss";

@mixin habitSides {
  width: 5rem;
  display: flex;
  background-color: var(--difficultyColor, #edae1d);
  button {
    background: none;
    border: none;
    width: 100%;
    height: 5rem;

    &:hover {
      background-color: var(--difficultyColorHover, #fdbd28);
      cursor: pointer;
    }
  }
}

.habit-card {
  &__container {
    margin-top: 3rem;
    width: 30vw;
    display: flex;
    align-items: stretch;
    border-radius: 1rem;
    overflow: hidden;

    * {
      color: #fff;
    }
  }

  &__positive__wrapper {
    @include habitSides;
  }
  &__negative__wrapper {
    @include habitSides;
  }

  &__main {
    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: rgb(43, 42, 42);
      padding: 0rem 1rem;
    }
    &__top__container {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      * {
        font-size: 1.8rem;
      }

      &:hover {
        cursor: pointer;
      }
      img {
        width: 2.2rem;
      }
    }
    &__toggle {
      transform: rotateZ(180deg);
      width: 2.5rem;

      &__button {
        background: none;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__notes {
      margin: 0.5rem 1rem;
    }

    &__info {
      &__container {
        flex: 2;
        // outline: 2px solid red;
      }
    }

    &__additional-info {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      margin: 0.5rem 0.5rem;
      text-align: start;
      align-items: start;
      img {
        transform: translateY(0.5rem);
      }
    }

    &__energy__wrapper {
      transform: translateY(-0.6rem);
    }

    &__line-break {
      border: 0;
      border-top: 0.1rem solid var(--difficultyColor, red);
      height: 0.1rem;
      background-color: var(--difficultyColor, #edae1d);
    }
  }
}
