.habits-component {
  &__container {
    display: flex;
    flex-direction: column;

    background-color: rgb(32, 34, 34);
    padding: 1.5rem;
    border-radius: 1rem;

    min-width: 30rem;
    // width: 20vw;
    width: 100%;
  }

  &__top-container {
    margin-bottom: 0.7rem;
    font-weight: bold;
    display: flex;
    span {
      color: white;
      font-weight: bold;
      font-size: 2rem;
      flex: 1;
    }
  }

  &__add-habit-btn,
  &__view-settings-btn {
    background: none;
    color: white;
    padding: 0.2rem 0.6rem;
    border: none;

    &-img {
      width: 2.3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
