#dashboardMenu {
  display: flex;
  border: 2px solid pink;
  height: 100%;
  width: 100%;
  margin-left: 28rem;
  justify-content: space-between;
}

#dashboardTasks {
  //   width: 20rem;
  //   outline: 2px solid red;
  margin-left: 3rem;
}

#dashboardHabits {
  //   width: 20rem;
  //   outline: 2px solid green;
}

#dashboardYIP {
  //   width: 20rem;
  //   outline: 2px solid blue;
  margin-right: 3rem;
}

.low-opacity {
  //   opacity: 90%;
  //   border: 1px solid red;
  background: rgba(240, 248, 255, 0.1);
}
